/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
//CSS RESET END


@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap');

$color-white: #fafafa;
$background-color: #4d4d4d;
$background-color-light: #707070;
$text-shadow-keyframes: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);

$font-main: 'Source Sans Pro', sans-serif;
$font-stylish: 'Reenie Beanie', cursive;

$animation-text: text-pop-up-bottom 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
$animation-arrow: slide-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite alternate-reverse both;
$animation-vibrate: vibrate-1 0.3s linear infinite both;
$animation-wooble: wobble-hor-bottom 2s infinite both;

*
{
    box-sizing: border-box;
}
:root
{
    scroll-behavior: smooth;
}
body
{
    header
    {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;

        height: 100vh;
        width: 100%;
        
        color: $color-white;
        background-color: #4158D0;
        background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);

        .headerContainer
        {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;

            width: 90%;

            .name
            {
                text-align: center;

                p
                {
                    font-size: 20vmin;
                    font-family: $font-stylish;
                    font-weight: bold;
                    color: $color-white;
                    animation: $animation-text;
                }
            }

            a.arrowDown
            {
                cursor: pointer;
                color: $color-white;

                i
                {
                    font-size: 20vmin;
                    animation: $animation-arrow;
                }
            }
        }
    }
    main
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        height: 200vh;
        width: 100%;

        .CSScontainer
        {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            width: 100%;
            background-color: $background-color;

            .CSSpractice
            {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                
                width: 90%;
                height: 100vh;
                
                font-family: $font-stylish;
                text-align: center;
    
                .CSStitle
                {
                    flex-shrink: 2;
                    font-size: 20vmin;
                    font-family: inherit;
                    font-weight: bold;
                    color: $color-white;
                    animation: $animation-text;
                }
    
                .CSSenlaces
                {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    align-items: center;
                    flex-wrap: wrap;
    
                    width: 90%;
                    height: 40vh;
    
                    font-family: $font-stylish;
                    text-shadow: $text-shadow-keyframes;
    
                    a
                    {
                        min-width: 300px;
                        font-size: 10vmin;
                        font-weight: bold;
                        text-decoration: none;
                        color: $color-white;
                        animation: $animation-wooble;
    
                        &:hover
                        {
                            animation: $animation-vibrate;
                        }
                    }
                }
            }
        }

        .DWcontainer
        {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            
            width: 100%;
            background-color: $background-color-light;

            .DWpractice
            {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                
                width: 90%;
                height: 100vh;
                
                font-family: $font-stylish;
                text-align: center;
    
                .DWtitle
                {
                    flex-shrink: 2;
                    font-size: 20vmin;
                    font-family: inherit;
                    font-weight: bold;
                    color: $color-white;
                    animation: $animation-text;
                }
    
                .DWenlaces
                {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    align-items: center;
                    flex-wrap: wrap;
    
                    width: 90%;
                    height: 40vh;
    
                    font-family: $font-stylish;
                    text-shadow: $text-shadow-keyframes;
    
                    a
                    {
                        min-width: 300px;
                        font-size: 10vmin;
                        font-weight: bold;
                        text-decoration: none;
                        color: $color-white;
                        animation: $animation-wooble;
    
                        &:hover
                        {
                            animation: $animation-vibrate;
                        }
                    }
                }

              
            }
        }
    }
    footer
    {

    }
}

.arrowDownSmall
{
    //flex-grow: 1;

    a.arrowDown
    {
        cursor: pointer;
        color: $color-white;
        i
        {
            font-size: 20vmin;
            animation: $animation-arrow;
        }
    }
}

@keyframes text-pop-up-bottom {
    0% {
      transform: translateY(-25);
      transform-origin: 50% 50%;
      text-shadow: none;
    }
    100% {
      transform: translateY(25px);
      transform-origin: 50% 50%;
      text-shadow: $text-shadow-keyframes;
    }
}

@keyframes slide-top {
    0% {
      transform: translateY(50px);
      text-shadow: $text-shadow-keyframes;
    }
    100% {
      transform: translateY(0px);
      text-shadow: $text-shadow-keyframes;
    }
}
  
@keyframes vibrate-1 {
    0% {
      transform: translate(0);
    }
    20% {
      transform: translate(-2px, 2px);
    }
    40% {
      transform: translate(-2px, -2px);
    }
    60% {
      transform: translate(2px, 2px);
    }
    80% {
      transform: translate(2px, -2px);
    }
    100% {
      transform: translate(0);
    }
}

@keyframes wobble-hor-bottom {
    0%,
    100% {
      transform: translateX(0%);
      transform-origin: 50% 50%;
    }
    15% {
      transform: translateX(-30px) rotate(-6deg);
    }
    30% {
      transform: translateX(15px) rotate(6deg);
    }
    45% {
      transform: translateX(-15px) rotate(-3.6deg);
    }
    60% {
      transform: translateX(9px) rotate(2.4deg);
    }
    75% {
      transform: translateX(-6px) rotate(-1.2deg);
    }
}
  