@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap");
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 5%;
  background-color: #E30613;
}
body .calculator {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 400px;
  height: 600px;
  padding: 10px;
  margin: 10px;
  border-radius: 30px;
  background: #E30613;
  box-shadow: 40px 60px 100px #9f040d, -40px -60px 100px #ff0819;
}
body .calculator .display {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 400px;
  height: 100px;
  padding: 10px;
  margin: 10px;
}
body .calculator .display input {
  width: 80%;
  height: 90%;
  border: none;
  font-size: 30px;
  font-weight: bold;
  color: #FFFBFB;
  text-align: right;
  padding-left: 15px;
  padding-right: 15px;
  color: #FFFBFB;
  font-family: "Comfortaa", cursive;
  font-size: 30px;
  border-radius: 30px;
  background: #E30613;
  box-shadow: inset 7px 7px 14px #9f040d, inset -7px -7px 14px #ff0819;
}
body .calculator .display input::-moz-placeholder {
  text-align: center;
  color: #FFFBFB;
}
body .calculator .display input:-ms-input-placeholder {
  text-align: center;
  color: #FFFBFB;
}
body .calculator .display input::placeholder {
  text-align: center;
  color: #FFFBFB;
}
body .calculator .buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 400px;
  height: 500px;
  padding: 10px;
  margin: 10px;
}
body .calculator .buttons .button {
  text-align: center;
  width: 65px;
  height: 65px;
  padding: 10px;
  margin: 10px;
  border: none;
  color: #FFFBFB;
  font-family: "Comfortaa", cursive;
  font-size: 30px;
  border-radius: 30px;
  background: #E30613;
  box-shadow: 7px 7px 13px #9f040d, -7px -7px 13px #ff0819;
}
body .calculator .buttons .button:active {
  box-shadow: inset 6px 6px 12px #9f040d, inset -6px -6px 12px #ff0819;
}/*# sourceMappingURL=style.css.map */