@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');

$dark-black: #393939;
$dark-red: #CA0101;
$red: #E30613;
$gray: #E0DCDC;
$white: #FFFBFB;

$text-color: $white;
$main-color: $red;

$shadow: #9f040d;
$light: #ff0819;

$font-family: 'Comfortaa', cursive;

body
{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 5%;
    background-color: $main-color;
    
    .calculator
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 400px;
        height: 600px;
        padding: 10px;
        margin: 10px;
        
        border-radius: 30px;
        background: $main-color;
        box-shadow: 40px 60px 100px $shadow,
                    -40px -60px 100px $light;

        .display
        {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            width: 400px;
            height: 100px;
            padding: 10px;
            margin: 10px;
            
            input
            {
                width: 80%;
                height: 90%;
                border: none;
                font-size: 30px;
                font-weight: bold;
                color: $text-color;
                text-align: right;
                padding-left: 15px;
                padding-right: 15px;

                color: $text-color;
                font-family: $font-family;
                font-size: 30px;
                
                border-radius: 30px;
                background: $main-color;
                box-shadow: inset 7px 7px 14px $shadow,
                            inset -7px -7px 14px $light;
                
                &::placeholder
                {
                    text-align: center;
                    color: $text-color;
                }
            }
        }

        .buttons
        {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            width: 400px;
            height: 500px;
            padding: 10px;
            margin: 10px;

            
            .button
            {
                text-align: center;
                width: 65px;
                height: 65px;
                padding: 10px;
                margin: 10px;
                border: none;

                color: $text-color;
                font-family: $font-family;
                font-size: 30px;

                border-radius: 30px;
                background: $main-color;
                box-shadow:  7px 7px 13px $shadow,
                             -7px -7px 13px $light;
            
            }

            .button:active
            {
                box-shadow: inset 6px 6px 12px $shadow,
                            inset -6px -6px 12px $light;
            }
        }
    }
}

