@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap");
* {
  margin: 0;
  box-sizing: border-box;
}

:root {
  scroll-behavior: smooth;
}

.contenedor {
  width: 100vw;
  height: 100vh;
  max-width: 1200px;
  overflow: hidden;
  margin: auto;
  padding: 100px 0;
  text-align: center;
}

body {
  font-family: "Raleway", sans-serif;
}
body header {
  width: 100%;
  height: 100vh;
  background-image: url(https://cdn.shopify.com/s/files/1/0554/4053/9857/files/f28919fc-bf63-4bc6-b351-2c2a09af6cf4_480x480@2x.jpg?v=1616779302);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
body header .menu-bar {
  z-index: 10;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  position: fixed;
  width: 100%;
  height: 10vh;
  background: linear-gradient(0deg, rgba(131, 58, 180, 0) 0%, rgb(0, 0, 0) 100%);
  font-size: 2rem;
}
body header .menu-bar .icon {
  font-size: 2.2rem;
  z-index: 20;
  position: fixed;
  left: 2%;
  top: 2%;
  text-shadow: 2px 2px 2px #000;
  text-align: center;
  cursor: pointer;
  color: white;
}
body header .menu-bar a {
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}
body header .menu-bar a:hover {
  transform: scale(1.05);
}
body header .menu-bar a .brand {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 1;
}
body header .menu-bar a .brand img {
  width: clamp(80px, 3vw, 500px);
  margin: 0 clamp(1vw, 30px, 5vw);
  height: auto;
}
body header .menu-bar a .brand p {
  text-shadow: 2px 2px 2px #000;
  font-family: "Rock Salt", cursive;
  font-size: clamp(1.3rem, 1vw, 2rem);
}
body header .menu-bar .anchorContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  flex-grow: 2;
}
body header .menu-bar .anchorContainer a {
  color: white;
  text-shadow: 2px 2px 2px #000;
  margin: 5px;
  text-decoration: none;
  position: relative;
  font-size: clamp(1.3rem, 1.5vw, 3rem);
}
body header .menu-bar .anchorContainer a.anchor::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1.5px;
  border-radius: 50%;
  background-color: white;
  box-shadow: 2px 2px 2px #000;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}
body header .menu-bar .anchorContainer a.anchor:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}
body header .menu-sidebar {
  transform: translateY(-200%);
  position: fixed;
  z-index: 15;
  top: 0;
  width: 100%;
  transition: transform 0.4s ease-in-out;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  padding-left: 4vw;
  background: linear-gradient(0deg, rgba(131, 58, 180, 0) 0%, rgb(0, 0, 0) 100%);
  font-size: 1.7rem;
}
body header .menu-sidebar .brand {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 3;
}
body header .menu-sidebar .brand img {
  width: 10%;
  height: auto;
}
body header .menu-sidebar .brand p {
  text-shadow: 2px 2px 2px #000;
  font-family: "Rock Salt", cursive;
  font-size: 1em;
}
body header .menu-sidebar .anchorContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  flex-grow: 3;
}
body header .menu-sidebar .anchorContainer a {
  color: white;
  text-shadow: 2px 2px 2px #000;
  margin: 5px;
  text-decoration: none;
  position: relative;
}
body header .menu-sidebar .anchorContainer a.anchor::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1.5px;
  border-radius: 50%;
  background-color: white;
  box-shadow: 2px 2px 2px #000;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}
body header .menu-sidebar .anchorContainer a.anchor:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}
body header .hideBar {
  transform: translateY(-200%);
}
body header .show-bar {
  transform: translateY(0);
}
body header .title {
  width: 100%;
  height: 100vh;
  text-align: center;
  color: #fff;
  text-shadow: 2px 2px 2px #000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
body header .title .text {
  font-size: 7vw;
  letter-spacing: 10px;
  margin-bottom: 15px;
  font-family: "Rock Salt", cursive;
}
body header .title .text .typing-text::after {
  content: "|";
  font-family: "Rock Salt", cursive;
  -webkit-animation: blink ease 1s infinite;
          animation: blink ease 1s infinite;
}
body main .services {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
body main .services .subtitle {
  text-align: center;
  font-weight: 300;
  color: #B3252C;
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 60px;
}
body main .services .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
body main .services .container img {
  flex-shrink: 2;
  flex-basis: 20rem;
  margin: 3rem;
  width: 30%;
}
body main .services .container .generalText {
  flex-grow: 2;
  width: 40%;
}
body main .services .container .generalText .individualText {
  margin-bottom: 20px;
  font-size: 1.2rem;
}
body main .services .container .generalText .individualText .title {
  margin-bottom: 7px;
  color: #B3252C;
}
body main .services .container .generalText .individualText .number {
  display: inline-block;
  width: 30px;
  height: 30px;
  color: #B3252C;
  border-radius: 50%;
  border: 1px solid #B3252C;
}
body main .gallery {
  background: #f2f2f2;
}
body main .gallery .subtitle {
  text-align: center;
  font-weight: 300;
  color: #B3252C;
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 60px;
}
body main .gallery .imgContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
body main .gallery .imgContainer .imgGallery {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
  margin: 1rem;
  width: 30%;
  flex-basis: 300px;
  margin-bottom: 15px;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
body main .imageView {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 90%;
  position: fixed;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2301295518) 13%, rgba(0, 0, 0, 0.5130427171) 29%, rgba(0, 0, 0, 0.7007177871) 48%, rgba(0, 0, 0, 0.8967962185) 100%);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: translateY(100%);
  transition: transform 0.3s ease-in-out;
}
body main .imageView.show {
  transform: translateY(0);
}
body main .imageView .changeImage {
  -o-object-fit: cover;
     object-fit: cover;
  width: 80%;
  transform: scale(0);
  transition: transform 0.3s 0.2s;
}
body main .imageView .changeImage.showImage {
  transform: scale(1);
  border-radius: 10px;
}
body main .experts .subtitle {
  text-align: center;
  font-weight: 300;
  color: #B3252C;
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 60px;
  margin-bottom: 200px;
}
body main .experts .expContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
body main .experts .expContainer .element {
  width: 40%;
  flex-basis: 300px;
  text-align: center;
  margin-bottom: 20px;
  float: left;
}
body main .experts .expContainer .element img {
  width: 100%;
  display: block;
  margin: 0 auto;
  border-radius: 10px;
}
body main .experts .expContainer .element .text {
  display: inline-block;
  margin-top: 20px;
  width: 100%;
  font-weight: 400px;
}
body main .contact {
  background: #f2f2f2;
}
body main .contact .center {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
body main .contact .center .subtitle {
  text-align: center;
  font-weight: 300;
  color: #B3252C;
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 60px;
}
body main .contact .center .contactText {
  font-size: 6vw;
  margin-right: 6vw;
}
body main .contact .contactContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 90%;
}
body main .contact .contactContainer .contactRow {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 20px;
}
body main .contact .contactContainer .contactRow .contactTitle {
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 20px;
}
body main .contact .contactContainer .contactRow .contactText {
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 20px;
}
body main .contact .contactContainer .contactRow .contactInput {
  width: 100%;
  margin-bottom: 20px;
  border-radius: 10px;
  border: 1px solid #ccc;
  padding: 10px;
  font-size: 1.2rem;
  font-weight: 400;
  text-align: center;
}
body main .contact .contactContainer .contactButton {
  width: 50%;
  margin-bottom: 20px;
  border-radius: 10px;
  border: 1px solid #ccc;
  padding: 10px;
  font-size: 1.2rem;
  font-weight: 400;
  background-color: #B3252C;
  color: white;
  cursor: pointer;
}
body footer {
  background: black;
  padding-bottom: 0.1px;
}
body footer .contenedor {
  height: 15vh;
}
body footer .footer {
  padding-top: 60px;
  padding-bottom: 40px;
}
body footer .footer .contactUs {
  width: 40%;
  color: #fff;
  float: left;
}
body footer .footer .contactUs .brandNameFooter {
  font-weight: 500px;
  font-size: 40px;
}
body footer .footer .contactUs .brandNameFooter p {
  font-weight: 500px;
}
body footer .footer .socialMedia {
  margin-left: 50%;
}
body footer .footer .socialMedia .social-media-icon {
  display: inline-block;
  margin-left: 20px;
  width: 60px;
  height: 60px;
  border: 1px solid #fff;
  border-radius: 50%;
  text-align: center;
  color: #fff;
}
body footer .footer .socialMedia .social-media-icon i {
  font-size: 30px;
  line-height: 60px;
}
body footer .footer .socialMedia .social-media-icon:hover {
  background: white;
  color: black;
}
body footer .line {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  height: 2px;
  background: #fff;
  margin-bottom: 60px;
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(255, 255, 255, 0.9);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loading #result {
  font-family: "Raleway", sans-serif;
  font-size: 5rem;
  color: #B3252C;
}

.hidden {
  display: none;
}

::-webkit-scrollbar-track {
  border: 1px solid black;
  background-color: black;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: darkgray;
}

::-webkit-scrollbar-thumb {
  background-color: darkgray;
}

@-webkit-keyframes blink {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@keyframes blink {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}/*# sourceMappingURL=style.css.map */