@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap");

$main-font: "Raleway", sans-serif;
$brand-font: "Rock Salt", cursive;

$text-shadow: 2px 2px 2px #000;
$background-color: #e5e5e5;
$background-color-dark: lightgray;
$text-color: #333333;
$title-color: #B3252C;
$text-color-light: #666;
$text-color-dark: #111;
$text-color-link: #000018;
$text-color-link-hover: #0e0035;
$text-color-link-visited: #811b20;

@mixin subtitle {
  text-align: center;
  font-weight: 300;
  color: $title-color;
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 60px;
}

* {
  margin: 0;
  box-sizing: border-box;
}

:root {
  scroll-behavior: smooth;
}

.contenedor {
  width: 100vw;
  height: 100vh;
  max-width: 1200px;
  overflow: hidden;
  margin: auto;
  padding: 100px 0;
  text-align: center;
}

body {
  font-family: $main-font;

  header {
    width: 100%;
    height: 100vh;
    background-image: url(https://cdn.shopify.com/s/files/1/0554/4053/9857/files/f28919fc-bf63-4bc6-b351-2c2a09af6cf4_480x480@2x.jpg?v=1616779302);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;

    .menu-bar {
      z-index: 10;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-wrap: wrap;
      position: fixed;
      width: 100%;
      height: 10vh;
      // padding-left: 4vw;
      background: linear-gradient(
        0deg,
        rgba(131, 58, 180, 0) 0%,
        rgba(0, 0, 0, 1) 100%
      );
      font-size: 2rem;

      .icon {
        font-size: 2.2rem;
        z-index: 20;
        position: fixed;
        left: 2%;
        top: 2%;
        text-shadow: $text-shadow;
        text-align: center;
        cursor: pointer;
        color: white;
      }

      a {
        text-decoration: none;
        transition: all 0.3s ease-in-out;
        &:hover {
          transform: scale(1.05);
        }
        .brand {
          color: white;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-shrink: 1;

          img {
            width: clamp(80px, 3vw, 500px);
            margin: 0 clamp(1vw, 30px, 5vw);
            height: auto;
          }

          p {
            text-shadow: $text-shadow;
            font-family: $brand-font;
            font-size: clamp(1.3rem, 1vw, 2rem);
          }
        }
      }

      .anchorContainer {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        flex-grow: 2;

        a {
          color: white;
          text-shadow: $text-shadow;
          margin: 5px;
          text-decoration: none;
          position: relative;
          font-size: clamp(1.3rem, 1.5vw, 3rem);
        }

        a.anchor {
          &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 1.5px;
            border-radius: 50%;
            background-color: white;
            box-shadow: $text-shadow;
            bottom: 0;
            left: 0;
            transform-origin: right;
            transform: scaleX(0);
            transition: transform 0.3s ease-in-out;
          }

          &:hover::before {
            transform-origin: left;
            transform: scaleX(1);
          }
        }
      }
    }

    .menu-sidebar {
      transform: translateY(-200%);
      position: fixed;
      z-index: 15;
      top: 0;
      width: 100%;
      transition: transform 0.4s ease-in-out;

      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-wrap: wrap;
      padding-left: 4vw;
      background: linear-gradient(
        0deg,
        rgba(131, 58, 180, 0) 0%,
        rgba(0, 0, 0, 1) 100%
      );
      font-size: 1.7rem;

      .brand {
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-shrink: 3;

        img {
          width: 10%;
          height: auto;
        }

        p {
          text-shadow: $text-shadow;
          font-family: $brand-font;
          font-size: 1em;
        }
      }

      .anchorContainer {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        flex-grow: 3;

        a {
          color: white;
          text-shadow: $text-shadow;
          margin: 5px;
          text-decoration: none;
          position: relative;
        }

        a.anchor {
          &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 1.5px;
            border-radius: 50%;
            background-color: white;
            box-shadow: $text-shadow;
            bottom: 0;
            left: 0;
            transform-origin: right;
            transform: scaleX(0);
            transition: transform 0.3s ease-in-out;
          }

          &:hover::before {
            transform-origin: left;
            transform: scaleX(1);
          }
        }
      }
    }

    .hideBar {
      transform: translateY(-200%);
    }

    .show-bar {
      transform: translateY(0);
    }

    .title {
      width: 100%;
      height: 100vh;
      text-align: center;
      color: #fff;
      text-shadow: $text-shadow;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;


      .text {
        font-size: 7vw;
        letter-spacing: 10px;
        margin-bottom: 15px;
        font-family: $brand-font;


        .typing-text::after {
          content: "|";
          font-family: $brand-font;
          animation: blink ease 1s infinite;
        }
      }
    }
  }

  main {
    .services {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;

      .subtitle {
        @include subtitle;
      }

      .container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;

        img {
          flex-shrink: 2;
          flex-basis: 20rem;
          margin: 3rem;
          width: 30%;
        }

        .generalText {
          flex-grow: 2;
          width: 40%;

          .individualText {
            margin-bottom: 20px;
            font-size: 1.2rem;

            .title {
              margin-bottom: 7px;
              color: $title-color;
            }

            .number {
              display: inline-block;
              width: 30px;
              height: 30px;
              color: $title-color;
              border-radius: 50%;
              border: 1px solid $title-color;
            }
          }
        }
      }
    }

    .gallery {
      background: #f2f2f2;

      .subtitle {
        @include subtitle;
      }

      .imgContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;

        .imgGallery {
          object-fit: cover;
          border-radius: 10px;
          margin: 1rem;
          width: 30%;
          flex-basis: 300px;
          margin-bottom: 15px;
          box-shadow: 0 0 0 rgba(0, 0, 0, 0.5);
          cursor: pointer;
        }
      }
    }

    .imageView {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 90%;
      height: 90%;

      position: fixed;
      background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.23012955182072825) 13%,
        rgba(0, 0, 0, 0.5130427170868348) 29%,
        rgba(0, 0, 0, 0.700717787114846) 48%,
        rgba(0, 0, 0, 0.896796218487395) 100%
      );
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      transform: translateY(100%);
      transition: transform 0.3s ease-in-out;

      &.show {
        transform: translateY(0);
      }

      .changeImage {
        object-fit: cover;
        width: 80%;
        transform: scale(0);
        transition: transform 0.3s 0.2s;

        &.showImage {
          transform: scale(1);
          border-radius: 10px;
        }
      }
    }

    .experts {
      .subtitle {
        @include subtitle;
        margin-bottom: 200px;
      }

      .expContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;

        .element {
          width: 40%;
          flex-basis: 300px;
          text-align: center;
          margin-bottom: 20px;
          float: left;

          img {
            width: 100%;
            display: block;
            margin: 0 auto;
            border-radius: 10px;
          }

          .text {
            display: inline-block;
            margin-top: 20px;
            width: 100%;
            font-weight: 400px;
          }
        }
      }
    }

    .contact {
      background: #f2f2f2;

      .center {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;

        .subtitle {
          @include subtitle;
        }
  
        .contactText {
          font-size: 6vw;
          margin-right: 6vw;
        }
      }

      .contactContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        width: 90%;

        .contactRow {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          flex-wrap: wrap;
          width: 100%;
          margin-top: 20px;

          .contactTitle {
            font-size: 1.5rem;
            font-weight: 400;
            margin-bottom: 20px;
          }

          .contactText {
            font-size: 1.2rem;
            font-weight: 400;
            margin-bottom: 20px;
          }

          .contactInput {
            width: 100%;
            margin-bottom: 20px;
            border-radius: 10px;
            border: 1px solid #ccc;
            padding: 10px;
            font-size: 1.2rem;
            font-weight: 400;
            text-align: center;
          }
        }

        .contactButton {
          width: 50%;
          margin-bottom: 20px;
          border-radius: 10px;
          border: 1px solid #ccc;
          padding: 10px;
          font-size: 1.2rem;
          font-weight: 400;
          background-color: $title-color;
          color: white;
          cursor: pointer;
        }
      }
    }
  }

  footer {
    background: black;
    padding-bottom: 0.1px;

    .contenedor {
      height: 15vh;
    }
    .footer {
      padding-top: 60px;
      padding-bottom: 40px;

      .contactUs {
        width: 40%;
        color: #fff;
        float: left;

        .brandNameFooter {
          font-weight: 500px;
          font-size: 40px;

          p {
            font-weight: 500px;
          }
        }
      }

      .socialMedia {
        margin-left: 50%;

        .social-media-icon {
          display: inline-block;
          margin-left: 20px;
          width: 60px;
          height: 60px;
          border: 1px solid #fff;
          border-radius: 50%;
          text-align: center;
          color: #fff;

          i {
            font-size: 30px;
            line-height: 60px;
          }
        }

        .social-media-icon:hover {
          background: white;
          color: black;
        }
      }
    }

    .line {
      width: 90%;
      max-width: 1200px;
      margin: 0 auto;
      height: 2px;
      background: #fff;
      margin-bottom: 60px;
    }
  }
}

//LOADING ANIMATION
.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(255, 255, 255, 0.9);

  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;

  #result {
    font-family: $main-font;
    font-size: 5rem;
    color: $title-color;
  }
}

.hidden {
  display: none;
}
//LOADING ANIMATION END

::-webkit-scrollbar-track {
  border: 1px solid black;
  background-color: black;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: darkgray;
}

::-webkit-scrollbar-thumb {
  background-color: darkgray;
}

@keyframes blink {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
