@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');

$main-color: #E30613;
$shadow-color: #9f040d;
$light-color: #ff0819;

$background-color: $main-color;
$text-color: #FFFBFB;

$font-family: 'Comfortaa', sans-serif;

body
{
    background-color: $background-color;

    margin-top: 10%;
    margin-bottom: 10%;
    display: flex;
    justify-content: center;
    align-items: center;

    .container
    {
        width: 600px;
        height: 300px;
        display: block;

        .date
        {           
            input
            {
                margin: 10px;
                padding: 20px;

                width: 90%;
                height: 30px;
                
                border: none;

                font-size: 30px;
                text-align: center;
                font-family: $font-family;
                
                color: $text-color;
                background-color: $background-color;

                border-radius: 30px;
                background: $main-color;
                box-shadow: inset 7px 7px 14px $shadow-color,
                            inset -7px -7px 14px $light-color;
            }
        }

        .time
        {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            text-align: center;
            
            .mainHour
            {
                width: 60%;

                input
                {
                    border: none;

                    width: 90%;
                    height: 200px;

                    font-size: 100px;
                    font-family: $font-family;
                    text-align: inherit;

                    color: $text-color;
                    background-color: $background-color;

                    border-radius: 30px;
                    background: $main-color;
                    box-shadow: inset 7px 7px 14px $shadow-color,
                                inset -7px -7px 14px $light-color;
                }
            }

            .secondaryHour
            {
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                width: 40%;
                text-align: center;

                .second
                {
                    
                    input
                    {
                        border: none;

                        width: 90%;
                        height: 90px;

                        font-size: 70px;
                        font-family: $font-family;
                        text-align: inherit;

                        color: $text-color;
                        background-color: $background-color;

                        border-radius: 30px;
                        background: $main-color;
                        box-shadow: inset 7px 7px 14px $shadow-color,
                                    inset -7px -7px 14px $light-color;

                    }
                }

                .ampm
                {
                    input
                    {
                        border: none;

                        width: 90%;
                        height: 90px;

                        font-size: 60px;
                        font-family: $font-family;
                        text-align: inherit;

                        color: $text-color;
                        background-color: $background-color;

                        border-radius: 30px;
                        background: $main-color;
                        box-shadow: inset 7px 7px 14px $shadow-color,
                                    inset -7px -7px 14px $light-color;

                    }
                }
            }
        }
    }
}